<div>
  <app-header-comp></app-header-comp>
</div>

<!-- trackBy: trackById -->
<div>
  <div class="container">
    <div class="row">
      <ng-container
        *ngFor="let item of filterCategory | filter: searchKey:'title';trackBy: trackById"
      >
        <div class="card col-md-3">
          <img src="{{ item.image }}" alt="" />
          <h5
            style="
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              max-width: 100ch;
            "
          >
            {{ item.title }}
          </h5>
          <p
            style="
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              max-width: 100ch;
            "
          >
            {{ item.description }}
          </p>
          <p><strong>Price:</strong> ${{ item.price }}</p>
          <button class="btn" (click)="addToCart(item)" style="background-color: #1976d2; color:white">
            Add to cart
          </button>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<div style="margin: 50px 0px;display: flex; justify-content: center;">
  <button class="btn btn-dark" style="width: 50%" (click)="refresh()">Refresh</button>
</div>

