<mat-nav-list>
  <div class="logo py-4">
    <!-- <img src="./assets/logo.svg" alt="Company Logo" /> -->
  </div>
  <mat-divider></mat-divider>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="home" class="mt-2">
    <mat-icon>home</mat-icon> Home
  </a>

  <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon> Dashboard
  </a> -->
  <h2 matSubheader class="mt-2">ANGULAR</h2>
  <!-- <a mat-list-item routerLink="architecture"> <mat-icon>edit</mat-icon> Architecture </a> -->
  <a mat-list-item routerLink="directives"> <mat-icon>edit</mat-icon> Directives </a>
  <a mat-list-item routerLink="pipe"> <mat-icon>edit</mat-icon> Pipes </a>
  <a mat-list-item routerLink="services"> <mat-icon>edit</mat-icon> Services </a>
  <a mat-list-item routerLink="forms"> <mat-icon>edit</mat-icon> Forms </a>
  <a mat-list-item routerLink="lazyLoad"> <mat-icon>edit</mat-icon> Lazy Loading </a>
  <a mat-list-item routerLink="dynamicComponent"> <mat-icon>edit</mat-icon> Dynamic Components </a>
  <a mat-list-item routerLink="stateManagement"> <mat-icon>edit</mat-icon> State management </a>
  <a mat-list-item routerLink="injectors"> <mat-icon>edit</mat-icon> DI, Injectors, Providers </a>
  <a mat-list-item routerLink="changeDet"> <mat-icon>edit</mat-icon> Change Detection </a>
  <a mat-list-item routerLink="trackBy"> <mat-icon>edit</mat-icon> trackBy </a>
  <a mat-list-item routerLink="rxjs"> <mat-icon>edit</mat-icon> RxJs </a>
  <a mat-list-item routerLink="advanced"> <mat-icon>edit</mat-icon> Advanced Topics </a>
  <a mat-list-item routerLink="internationalization"> <mat-icon>edit</mat-icon> Internationalization </a>
  <a mat-list-item routerLink="standalone"> <mat-icon>edit</mat-icon> Standalone components </a>
  <a mat-list-item routerLink="library"> <mat-icon>edit</mat-icon> Library creation </a>
  <a mat-list-item routerLink="agGrid"> <mat-icon>edit</mat-icon> AgGrid </a>
  <!-- <a mat-list-item routerLink=""> <mat-icon>edit</mat-icon> Webpack </a> -->
  <!-- <h2 matSubheader class="mt-2">JAVA SCRIPT</h2> -->
  <!-- <a mat-list-item routerLink=""> <mat-icon>edit</mat-icon> ES6 advanced topics </a> -->
  <!-- <a mat-list-item routerLink=""> <mat-icon>edit</mat-icon> PWA and Service workers </a> -->
  <a mat-list-item routerLink="webworker"> <mat-icon>edit</mat-icon> Web worker </a>
  <a mat-list-item routerLink="memoryleak"> <mat-icon>edit</mat-icon> Memory Leaks </a>
  <!-- <a mat-list-item routerLink=""> <mat-icon>edit</mat-icon> JS design patterns </a> -->
</mat-nav-list>
