:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer {
  width: 260px;
  background: #f2f2f2;
  z-index:-1!important;
}
mat-drawer-container {
  height: 100%;
}

mat-drawer-content {
  margin-left: 0px !important;
}

.fullWidth{
  margin-left: 0px !important;
}

.fixedWidth{
  margin-left: 260px !important;
  width:80%
}
